@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWidth {
  @apply w-11/12 max-w-[1100px] mx-auto;
}

.bg-home {
  background-color: #f4eae2;
}

.bg-button {
  background-color: #608274;
}

.img-banner-catalogo {
  mask-image: linear-gradient(transparent, white 15%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
